# ignore pytest and coverage.py  cache files
**/__pycache__
.pytest_cache
.coverage 
carter_sky_assignment/video/carter-skyers-easiest-goodbye-official-music-video.mp3
carter_sky_assignment/video/carter-skyers-easiest-goodbye-official-music-video.mp4